RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.\*)$ https://himatekkom.ft.unsyiah.ac.id/$1 [R,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ / [L,QSA]
